


.background{
    background-image: url("../../../assets/Images/doc3.jfif");  
        background-repeat: no-repeat;
        // background-attachment: fixed;
        // background-size: cover;
}
.main{
  //  width: 680px;
    width: 550px;
    height: 100px auto;
    border: 1px solid rgb(221, 221, 221);
    margin-top: 40px;
    padding-bottom: 16px;
    margin-left:280px;
    //background: rgb(185, 161, 161);
}
.fontSize{
     // font-size: large;
    padding-top: 15px;
    font-size: 25px;
    color: rgb(128, 20, 20);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold, ;
    font-style: italic;
}
.title{
    padding-left: 90px;
}
.ButtonDiv{
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    //padding-bottom: 50px;
    //padding: 0px 100px 0px 100px;
      
}
.ff{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: #3371B5;
    width: 180px;
    height: 40px;
    border-radius: 10px
}
.details{
    margin-left: 50px;
    margin-top: 30px;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   //margin-bottom: 200px;
}

      








