.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  .container{
    //background: red;
    //margin-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
 
.input1{
  margin-right: 16px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}