<app-mattoolbar></app-mattoolbar>
<div>
    <div class="title">
        <h5 class="fontSize">Doctors Profile</h5>
    </div>
    <button style="color: brown;" (click)="onClick()">Details</button>
    <div class="main">
        <div *ngFor="let person of doctor">
            <div class="name" style="margin-bottom: 2px">Name : {{person.Name}} </div>
            <div style="margin-bottom: 2px"> Specialized : {{person.Specialized}}</div>
            <div>Experience : {{person.Experience}}</div>
            <div>ExperiencHospitalame : {{person.HospitalName}}</div>
            <div>Description :{{person.Description}}</div><br><br>
        </div>
    </div>
</div>